@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: #d98481;
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
}

p{
    font-size: 40px;
    font-weight: 300;
    line-height: 1.5;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
}

.btn {
    background-color: #000;
    border: 0;
    border-radius: 5px;
    color: #fafafa;
    cursor: pointer;
    font-size: 35px;
    font-weight: 300;
    padding: 30px 60px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #e9b9aa;
    color: #000;
}